;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [reagent "0.8.0-alpha2"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        ;; :asset-path "/js/compiled"
        :asset-path "js/compiled"

        :modules
        {:main
         {:entries [ueava.core]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load ueava.core/stop
         :watch-dir "resources/public"
         ;; after live-reloading finishes call this function
         :after-load ueava.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "public"
         :http-port    3000
         :preloads     [devtools.preload]}
        }
  :test {:target :node-test
        :output-to "out/node-tests.js"}}}
